* {
  margin: 0;
  padding: 0;
}
.header{
  height: 56px;
  width: 100vw;
  background-color: aqua;
}
.side-bar{
  width: 18%;
  height: 100vh;
  background-color: black;
  display: flex;
}
.buttons{
  height: 50px;
  width: 270px;
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}
.buttons i,p{
  margin-left: 10px;
  color: white;
}
.buttons:hover{
  background-color: gray;
}

